@media screen and (min-width: 1400px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 940px !important;
    }

    header {
        .header-top {
            .container {
                flex-wrap: wrap;

                .logo {
                    width: 20%;
                }

                .user-prop {
                    margin-left: auto;
                    order: 2;
                }

                .search-bar {
                    width: 100%;
                    order: 3;
                    padding-top: 20px;

                    input {
                        width: 100%;

                    }
                }
            }
        }
    }

    main {
        .vip-products {
            .container {
                .vip-products-right {
                    .row {
                        .banner {
                            h3 {
                                .banner-title {
                                    font-size: 20px;
                                }

                                .banner-txt {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .discount-products {
            .products-container {
                .card {
                    min-height: 180px;
                }
            }
        }

        .wish-list-page {
            .content {
                .entry-content {
                    .wishlist-table {
                        tbody {
                            .data-row {
                                .product-add-to-cart {
                                    width: 25%;

                                    .trend-add {
                                        width: 80%;
                                        outline: none;
                                        border: none;
                                        color: black;
                                        background: $secondTxtColor;
                                        padding: 16px 45px;
                                        font-weight: 500;
                                        font-size: 14px;
                                        margin-top: 20px;
                                        cursor: pointer;
                                        transition: .3s ease-in-out;


                                        &:hover {
                                            background: $secondBgColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .footer-contact {
                padding: 50px 10px 20px 40px;

                .contact-box {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1028px) {
    main {
        .vip-products {
            .container {
                flex-direction: column;

                .vip-products-left {
                    width: 100%;
                }

                .vip-products-right {
                    width: 100%;
                    margin-top: 20px;

                    .vip-right-inner {
                        .row {
                            .banner {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px !important;
    }

    header {
        .header-bottom {
            .container {
                .menu {
                    display: none;
                }

                .mobile-menu {
                    display: inline-block;
                }
            }
        }
    }

    main {
        .products {
            .productSwiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .adds {
                            right: 22px;
                        }
                    }
                }
            }
        }

        .discount-products {
            .products-container {
                .card {
                    min-height: 160px;

                    .content {
                        padding: 20px 40px;

                        a {
                            span {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .wish-list-page {
            .content {
                .container {
                    .entry-content {
                        .wishlist-table {
                            tbody {
                                .data-row {
                                    .product-add-to-cart {
                                        .trend-add {
                                            padding: 16px 10px;
                                            margin-top: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .cart-page {
            .content {
                .container {
                    .entry-content {
                        flex-direction: column;

                        .cart-table {
                            width: 100%;
                        }

                        .cart-totals {
                            width: 50%;
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .footer-content {
                flex-wrap: wrap;

                .download-app {
                    width: 100% !important;
                    margin-bottom: 50px;
                }

                .content-box {
                    margin-left: 0;
                    width: 45%;
                }

                .sign-up {
                    width: 60%;
                    margin-top: 40px;
                }
            }
        }
    }


}

@media screen and (max-width: 768px) {
    .container {
        width: 95% !important;
    }

    .quick-view-modal {
        .modal-container {
            width: 80%;
            top: 2%;
            display: flex;
            flex-direction: column;

            .product-img {
                width: 200px;
                margin: auto;
            }

            .content {
                h2 {
                    font-size: 19px;
                }

                .price {
                    .new-price {
                        padding-block: 8px;
                        font-size: 21px;
                    }
                }
                .add-to-cart {
                    padding-block: 3px 10px;
                    height: 70px;
                }

                .product-meta {
                    font-size: 13px;
                    padding-top: 15px;
                }
            }
        }
    }


    header {
        .header-top {
            .container {
                flex-direction: column;

                .logo {
                    width: 35%;
                }

                .user-prop {
                    width: 100%;
                    justify-content: center;
                    order: 3;
                }

                .search-bar {
                    margin-bottom: 25px;
                    order: 2;
                }
            }
        }

        .header-bottom {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .mobile-menu {
                    margin-bottom: 10px;

                    .mobile-menu-bar {
                        .hamburger {
                            margin-right: 10px;
                        }
                    }
                }

                // .add-text {
                //     p {
                //         font-size: 14px;
                //         color: white;
                //     }
                // }
            }
        }
    }

    main {
        .vip-products {
            .vip-products-left {
                .vip-product-swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .content {
                                .swiper-title {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .products {
            .productSwiper {
                height: 400px;

                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        height: 320px;
                        padding-bottom: 15px;

                        .card-photo {
                            width: 170px;
                            margin-inline: auto;
                        }

                        .adds {
                            right: 0px;
                        }

                        &:hover {
                            height: 375px;
                        }
                    }
                }
            }
        }

        .discount-products {
            .products-container {
                flex-direction: column;

                .card {
                    min-width: 100%;
                    height: 180px;
                    margin-right: 0;
                    margin-bottom: 15px;

                    .card-img {
                        img {
                            min-width: 100%;
                        }
                    }

                    .content {
                        padding: 35px 50px;
                    }

                }
            }
        }

        .marquee-inform {
            marquee {
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .wish-list-page {
            .content {
                .container {

                    .entry-content {
                        .wishlist-table {
                            thead {
                                display: none;
                            }

                            tbody {
                                display: flex;
                                flex-direction: column;
                                width: 95vw;

                                .data-row {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 100%;
                                    margin-top: 30px;

                                    td {
                                        padding-block: 10px;
                                    }

                                    .product-thumbnail {
                                        margin-top: 20px;
                                    }

                                    .product-remove {
                                        position: absolute;
                                        right: 110px;
                                    }

                                    .product-name {
                                        text-align: center;

                                        .view-box {
                                            margin: auto;
                                        }
                                    }

                                    .product-add-to-cart {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .cart-page {
            .content {
                .container {
                    .entry-content {
                        .cart-table {
                            thead {
                                display: none;
                            }

                            tbody {
                                display: flex;
                                flex-direction: column;
                                width: 95vw;

                                .data-row {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 100%;
                                    margin-top: 30px;

                                    td {
                                        padding-block: 10px;
                                    }

                                    .product-thumbnail {
                                        margin-top: 20px;
                                    }

                                    .product-remove {
                                        position: absolute;
                                        right: 110px;
                                    }

                                    .product-name {
                                        text-align: center;
                                    }

                                    .product-subtotal {
                                        .nobr {
                                            font-size: 19px;
                                            padding-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }

                        .cart-totals {
                            width: 65%;
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .footer-content {
                flex-wrap: wrap;
                flex-direction: column;

                .content-box {
                    margin-bottom: 40px;
                    width: 100% !important;
                }

                .sign-up {
                    width: 70% !important;
                }
            }
        }

        .footer-bottom {
            .footer-bottom-content {
                .footer-menu {
                    ul {
                        li {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 592px) {
    header {
        .header-top {
            .container {
                .logo {
                    width: 45%;
                }
            }
        }
    }

    main {
        .headline {
            h3 {
                font-size: 20px;
            }
        }

        .vip-products {
            .vip-products-left {
                .vip-product-swiper {
                    height: 270px;

                    .swiper-wrapper {
                        .swiper-slide {
                            .content {
                                padding: 30px 30px 0px;

                                .swiper-title {
                                    font-size: 30px;
                                }

                                a {
                                    width: 120px;
                                    padding: 11px 15px;
                                    font-size: 11px;

                                }

                                p {
                                    width: 80%;
                                    font-size: 15px;
                                    margin: 20px 0px 25px;
                                }
                            }
                        }
                    }

                    .swiper-pagination {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .products {
            .productSwiper {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 330px;

                        .card-photo {
                            width: 140px;
                            margin-inline: auto;
                        }

                        &:hover {
                            height: 360px;
                        }

                        .addtocard{
                            margin-top: 3px;
                        }
                    }
                }
            }
        }

        .discount-products {
            .products-container {
                .card {
                    height: 160px;

                    .content {
                        padding: 28px 45px;

                        a {
                            span {
                                font-size: 20px;
                            }
                        }
                    }

                }
            }
        }

        .marquee-inform {
            marquee {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .cart-page {
            .content {
                .container {
                    .entry-content {
                        .cart-totals {
                            width: 100%;
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .footer-content {
                .sign-up {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    header {
        .header-top {
            .container {
                .logo {
                    width: 55%;
                }

                .user-prop {
                    flex-wrap: wrap;

                    .res-mt-15 {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    main {
        .brands {
            padding-bottom: 60px;

            .brandSwiper {
                overflow: hidden;
                width: 100%;
                height: 100px;
                margin: 80px 0px 0px;
                display: flex;
                background: white;
                align-items: center;
                border-radius: 20px;

                .swiper-wrapper {
                    height: 150px;

                    .brand {
                        min-width: 110px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .footer-content {
                .sign-up {
                    width: 90% !important;
                }
            }
        }

        .footer-bottom {
            .footer-bottom-content {
                .footer-payment {
                    margin-inline: auto;
                    width: 90%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    main {
        .vip-products {
            .vip-products-left {
                .vip-product-swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .content {
                                .swiper-title {
                                    font-size: 24px;
                                }

                                p {
                                    margin: 20px 0px 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .products {
            .productSwiper {
                margin-bottom: 50px;
                overflow: hidden;

                .swiper-wrapper {
                    .swiper-slide {
                        height: 330px;

                        .card-photo {
                            width: 55%;
                            margin-inline: auto;
                        }

                        &:hover {
                            height: 355px;
                        }

                        .card-inform {
                            height: 70px;
    
                            a {
                                font-size: 16px;
                            }
    
                            .price {
                                margin-top: 12px;
                                font-size: 16px;
                            }
                        }

                        .addtocard {
                            margin-top: -26px;
                        }
                    }
                }
            }
        }

        .discount-products {
            .products-container {
                .card {
                    height: 160px;

                    .content {
                        padding: 25px 30px;

                        a {
                            span {
                                font-size: 18px;
                            }
                        }
                    }

                }
            }
        }
    }
}