$midBlueColor: #0A6ECB;
$hoverBtn: #108aa2;
$primaryTxtColor: #16BCDC;
$primaryBgColor: #263C97;
$secondTxtColor: #FCBE00;
$secondBgColor: #E5AC00;
$borderColor1: #e5e5e5;
$bgLight: #ffff;
$cardBgLight: #ffff;
$grayText: #999999;