@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('./_header.scss');

$primaryBgColor: #263C97;
$midBlueColor: #0A6ECB;
$primaryTxtColor: #16BCDC;
$hoverBtn: #108aa2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

button,
input {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: auto;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(225, 225, 225, .5);

    h3 {
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 9px;
        border-bottom: 2px solid #16BCDC;
    }

    a {
        font-size: 14px;
        color: rgba(0, 0, 0, .6);
        margin-top: 8px;

        i {
            font-size: 12px;
            padding-left: 9px;
        }
    }
}

header {
    background: $primaryBgColor;

    .header-top {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 30px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

            .logo {
                width: 200px;

                img {
                    width: 100%;
                }
            }

            .search-bar {
                display: flex;
                align-items: center;

                input {
                    padding: 15px 20px;
                    outline: none;
                    border: none;
                    width: 400px;
                    border-radius: 3px;
                    height: 50px;
                    font-size: 14px;
                }

                .search-submit {
                    width: 44px;
                    height: 44px;
                    border-radius: 3px;
                    background: $primaryTxtColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -47px;
                    cursor: pointer;

                    i {
                        font-size: 19px;
                        color: white;
                    }
                }
            }

            .user-prop {
                display: flex;

                .box {
                    display: flex;
                    margin-right: 20px;

                    .left {
                        i {
                            font-size: 30px;
                            color: white;
                            margin-right: 10px;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;

                        .title {
                            color: rgb(202, 202, 202);
                            font-size: 12px;
                        }

                        .link {
                            color: white;
                            font-size: 14px;
                            transition: 0.3s ease;

                            &:hover {
                                color: $primaryTxtColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0px;

            .menu {
                .menu-link {
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 30px;
                    transition: 0.5s ease;

                    &:hover {
                        color: $primaryTxtColor;
                    }
                }
            }

            .add-text {
                p {
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}

main {
    background: #F3F5F6;

    // margin-top: 1000px;
    .vip-products {
        padding: 30px 0px 70px;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .vip-products-left {
            width: 58%;
            height: auto;
            display: flex;

            .vip-product-swiper {
                width: 100%;
                height: 340px;

                .swiper-wrapper {
                    .swiper-slide {
                        position: relative;

                        img {
                            width: 100%;
                            height: 100% !important;
                            object-fit: cover;
                            border-radius: 20px;
                        }

                        .content {
                            position: absolute;
                            top: 0px;
                            display: flex;
                            flex-direction: column;
                            padding: 50px 50px;
                            z-index: 100;

                            h2 {
                                color: white;
                                font-size: 40px;
                                font-weight: normal;
                                display: inline-block;
                            }

                            p {
                                color: white;
                                font-size: 17px;
                                display: inline-block;
                                margin: 25px 0px 35px;
                            }

                            a {
                                display: inline-block;
                                width: 185px;
                                color: white;
                                font-size: 13px;
                                font-weight: bold;
                                padding: 15px 40px;
                                border-radius: 50px;
                                border: 2px solid white;
                                transition: 0.5s ease;

                                &:hover {
                                    color: black;
                                    background: white;
                                }
                            }
                        }
                    }
                }

                .swiper-pagination {
                    margin-bottom: 20px;

                    .swiper-pagination-bullet {
                        background: rgba($color: #ffffff, $alpha: 0.5);
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        opacity: 1;
                    }

                    .swiper-pagination-bullet-active {
                        background: rgba($color: #ffffff, $alpha: 1);
                        width: 35px;
                        height: 7px;
                        border-radius: .5rem;
                    }
                }
            }
        }

        .vip-products-right {
            width: 40%;
            height: auto;

            .vip-right-inner {
                width: 100%;
                height: 340px;
                display: flex;
                flex-direction: column;
                // align-items: space-between;
                justify-content: space-between;

                .row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .pr-20 {
                        padding-right: 20px;
                    }

                    .banner {
                        position: relative;
                        width: 240px;
                        height: 160px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }

                        .content {
                            position: absolute;
                            color: white;
                            top: 0px;
                            padding: 20px 30px;

                            a {
                                color: white;
                                font-size: 23px;
                                font-weight: normal;
                                display: inline-block;
                                margin-bottom: 17px;
                            }
                        }
                    }
                }
            }

        }
    }

    .trend-products {
        .productSwiper {
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            height: 370px;

            .swiper-wrapper {
                .swiper-slide {
                    width: 190px;
                    height: 315px;
                    background-color: white;
                    border-radius: 20px;
                    position: relative;
                    margin-right: 20px;
                    transition: .1s ease-in-out;
                    overflow: hidden;

                    &:hover {
                        height: 360px;
                    }

                    .card-photo {
                        img {
                            object-fit: cover;
                            width: 160px;
                            height: auto;
                            vertical-align: text-bottom;
                            margin: 20px 10px 10px;

                        }
                    }

                    .card-disc {
                        width: 48px;
                        height: 20px;
                        background-color: #5AAB19;
                        color: white;
                        position: absolute;
                        top: 18px;
                        left: 20px;
                        border-radius: 2px;

                        span {
                            padding: 1px 10px;
                            font-size: 12px;
                        }
                    }

                    .card-inform {
                        padding: 0px 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100px;

                        a {
                            color: $midBlueColor;
                            font-size: 14px;
                            display: inline-block;
                            font-weight: 500;
                        }

                        .stars {

                            i {
                                color: #f99806;
                                font-size: 12px;
                                margin-right: -3px;
                            }

                            span {
                                color: rgba(0, 0, 0, .5);
                                font-size: 13px;
                                margin-left: 3px;
                            }
                        }

                        .price {
                            font-weight: 500;
                            margin-top: 15px;
                        }
                    }

                    .addtocard {
                        margin-top: -20px;
                        margin-left: 17px;

                        .trend-add {
                            outline: none;
                            border: none;
                            color: white;
                            background: $primaryTxtColor;
                            padding: 12px 30px;
                            border-radius: 30px;
                            font-weight: bold;
                            font-size: 12px;
                            margin-top: 20px;
                            opacity: 0;
                            cursor: pointer;
                            transition: .3s ease-in-out;

                            &:hover {
                                background: $hoverBtn;
                            }
                        }
                    }

                    .adds {
                        position: absolute;
                        right: 0px;
                        opacity: 0;
                        top: 30px;
                        display: flex;
                        flex-direction: column;
                        transition: .3s ease-in-out;


                        .add-box {
                            width: 35px;
                            height: 35px;
                            cursor: pointer;
                            border-radius: 50%;
                            background-color: rgba(225, 225, 225, .5);
                            display: inline-block;
                            margin-bottom: 7px;
                            position: relative;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                background-color: #16bcdc;
                            }

                            &:hover .trendcard-add {
                                color: white !important;
                            }

                            .trendcard-add {
                                margin-top: 0px;
                                opacity: 1;
                                position: absolute;
                                font-size: 13px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: rgba(0, 0, 0, .5);
                            }
                        }
                    }

                    &:hover .trend-add {
                        transform: translateY(20px);
                        opacity: 1;
                    }
                    &:hover .adds {
                        transform: translateX(-10px);
                        opacity: 1;
                    }
                }

                .indiscount {
                    .card-inform {
                        .price {
                            .new-price {
                                color: #CC1414;
                            }

                            .old-price {
                                display: inline-block;
                                color: #a4a4a4;
                                font-weight: 400 !important;
                                font-size: 14px;
                                margin-left: 5px;
                                text-decoration: line-through;
                            }
                        }

                    }
                }
            }
        }
    }
}