@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
header {
  background: #263C97;
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .header-top .container .logo {
  width: 200px;
}
header .header-top .container .logo img {
  width: 100%;
}
header .header-top .container .search-bar {
  display: flex;
  align-items: center;
}
header .header-top .container .search-bar input {
  padding: 15px 20px;
  outline: none;
  border: none;
  width: 400px;
  border-radius: 3px;
  height: 50px;
  font-size: 14px;
}
header .header-top .container .search-bar .search-submit {
  width: 44px;
  height: 44px;
  border-radius: 3px;
  background: #16BCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -47px;
  cursor: pointer;
}
header .header-top .container .search-bar .search-submit i {
  font-size: 19px;
  color: white;
}
header .header-top .container .user-prop {
  display: flex;
}
header .header-top .container .user-prop .box {
  display: flex;
  margin-right: 20px;
}
header .header-top .container .user-prop .box .left i {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}
header .header-top .container .user-prop .box .right {
  display: flex;
  flex-direction: column;
}
header .header-top .container .user-prop .box .right .title {
  color: rgb(202, 202, 202);
  font-size: 12px;
}
header .header-top .container .user-prop .box .right .link {
  color: white;
  font-size: 14px;
  transition: 0.3s ease;
}
header .header-top .container .user-prop .box .right .link:hover {
  color: #16BCDC;
}
header .header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
header .header-bottom .container .menu .menu-link {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  transition: 0.5s ease;
}
header .header-bottom .container .menu .menu-link:hover {
  color: #16BCDC;
}
header .header-bottom .container .add-text p {
  font-size: 14px;
  color: white;
}

main .vip-products {
  padding: 30px 0px 70px;
}
main .vip-products .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .vip-products .vip-products-left {
  width: 58%;
  height: auto;
  display: flex;
}
main .vip-products .vip-products-left .vip-product-swiper {
  width: 100%;
  height: 340px;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide .content {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  z-index: 100;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide .content h2 {
  color: white;
  font-size: 40px;
  font-weight: normal;
  display: inline-block;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide .content p {
  color: white;
  font-size: 17px;
  display: inline-block;
  margin: 25px 0px 35px;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide .content a {
  display: inline-block;
  width: 185px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 50px;
  border: 2px solid white;
  transition: 0.5s ease;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-wrapper .swiper-slide .content a:hover {
  color: black;
  background: white;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-pagination {
  margin-bottom: 20px;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  opacity: 1;
}
main .vip-products .vip-products-left .vip-product-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: white;
  width: 35px;
  height: 7px;
  border-radius: 0.5rem;
}
main .vip-products .vip-products-right {
  width: 40%;
  height: auto;
}
main .vip-products .vip-products-right .vip-right-inner {
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .vip-products .vip-products-right .vip-right-inner .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .vip-products .vip-products-right .vip-right-inner .row .pr-20 {
  padding-right: 20px;
}
main .vip-products .vip-products-right .vip-right-inner .row .banner {
  position: relative;
  width: 240px;
  height: 160px;
}
main .vip-products .vip-products-right .vip-right-inner .row .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main .vip-products .vip-products-right .vip-right-inner .row .banner .content {
  position: absolute;
  color: white;
  top: 0px;
  padding: 20px 30px;
}
main .vip-products .vip-products-right .vip-right-inner .row .banner .content a {
  color: white;
  font-size: 23px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 17px;
}

main .trend-products .productSwiper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  height: 370px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide {
  width: 190px;
  height: 315px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin-right: 20px;
  transition: 0.1s ease-in-out;
  overflow: hidden;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide:hover {
  height: 360px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 160px;
  height: auto;
  vertical-align: text-bottom;
  margin: 20px 10px 10px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-disc {
  width: 48px;
  height: 20px;
  background-color: #5AAB19;
  color: white;
  position: absolute;
  top: 18px;
  left: 20px;
  border-radius: 2px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-disc span {
  padding: 1px 10px;
  font-size: 12px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-inform {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-inform a {
  color: #0A6ECB;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-inform .stars i {
  color: #f99806;
  font-size: 12px;
  margin-right: -3px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-inform .stars span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin-left: 3px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .card-inform .price {
  font-weight: 500;
  margin-top: 15px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .addtocard {
  margin-top: -20px;
  margin-left: 17px;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .addtocard .trend-add {
  outline: none;
  border: none;
  color: white;
  background: #16BCDC;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 20px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .addtocard .trend-add:hover {
  background: #108aa2;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .adds {
  position: absolute;
  right: 0px;
  opacity: 0;
  top: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .adds .add-box {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.5);
  display: inline-block;
  margin-bottom: 7px;
  position: relative;
  transition: 0.3s ease-in-out;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .adds .add-box:hover {
  background-color: #16bcdc;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .adds .add-box:hover .trendcard-add {
  color: white !important;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide .adds .add-box .trendcard-add {
  margin-top: 0px;
  opacity: 1;
  position: absolute;
  font-size: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.5);
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide:hover .trend-add {
  transform: translateY(20px);
  opacity: 1;
}
main .trend-products .productSwiper .swiper-wrapper .swiper-slide:hover .adds {
  transform: translateX(-10px);
  opacity: 1;
}
main .trend-products .productSwiper .swiper-wrapper .indiscount .card-inform .price .new-price {
  color: #CC1414;
}
main .trend-products .productSwiper .swiper-wrapper .indiscount .card-inform .price .old-price {
  display: inline-block;
  color: #a4a4a4;
  font-weight: 400 !important;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: line-through;
}

main .popular-categories .popularSwiper {
  display: flex;
  overflow-x: hidden;
}
main .popular-categories .popularSwiper .swiper-wrapper {
  padding: 30px 0px 60px;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide {
  border-radius: 20px;
  cursor: pointer;
  height: 120px;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  display: block;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide .card-img {
  overflow: hidden;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide .card-img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide .content {
  border-radius: 20px;
  width: 240px;
  height: auto;
  position: absolute;
  top: 0px;
  padding: 38px 30px;
  color: white;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide .content h4 {
  margin-bottom: 15px;
  font-size: 15px;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide .content p {
  color: rgba(225, 225, 225, 0.6);
  font-size: 14px;
}
main .popular-categories .popularSwiper .swiper-wrapper .swiper-slide:hover img {
  transform: scale(1.1, 1.1);
}

main .discount-products .products-container {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}
main .discount-products .products-container .card {
  max-width: 370px;
  min-height: 140px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
main .discount-products .products-container .card .card-img {
  max-width: 100%;
  height: 100%;
}
main .discount-products .products-container .card .card-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .discount-products .products-container .card .content {
  padding: 15px 50px;
  position: absolute;
  top: 0px;
  color: white;
}
main .discount-products .products-container .card .content a {
  display: flex;
  flex-direction: column;
}
main .discount-products .products-container .card .content a span {
  color: white;
  font-size: 25px;
  margin-bottom: 7px;
}
main .discount-products .products-container .card .content p {
  color: white;
  margin-top: 18px;
}

main .marquee_inform {
  width: 100%;
  background: #263C97;
  position: absolute;
  left: 0px;
}
main .marquee_inform marquee {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
main .marquee_inform marquee span {
  margin-right: 200px;
}

main .blog {
  margin-top: 120px;
}
main .blog .blogSwiper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
}
main .blog .blogSwiper .card {
  border-radius: 20px;
  width: 235px;
  background: white;
  position: relative;
}
main .blog .blogSwiper .card .card_img {
  overflow: hidden;
  width: 100%;
  max-height: 147px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main .blog .blogSwiper .card .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
main .blog .blogSwiper .card:hover img {
  transform: scale(1.1, 1.1);
}
main .blog .blogSwiper .card .card_content {
  padding: 23px 20px;
}
main .blog .blogSwiper .card .card_content .link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
}
main .blog .blogSwiper .card .card_content .post_by {
  color: #999999;
  font-size: 12px;
}
main .blog .blogSwiper .card .card_content .post_by .poster {
  color: #16bcdc;
  font-weight: 500;
}
main .blog .blogSwiper .card .card_content p {
  color: #666666;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 20px 0px;
}
main .blog .blogSwiper .card .card_content .read_more {
  padding-top: 20px;
  border-top: 1px solid rgba(225, 225, 225, 0.7);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
main .blog .blogSwiper .card .card_content .read_more a {
  color: rgba(0, 0, 0, 0.7);
}
main .blog .blogSwiper .card .card_content .categorie {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 18px;
}
main .blog .blogSwiper .card .card_content .categorie span {
  color: white;
  background-color: #16bcdc;
  padding: 3px 12px;
  font-size: 13px;
}

main .brands .brandSwiper {
  overflow: hidden;
  width: 100%;
  height: 100px;
  margin: 80px 0px 0px;
  display: flex;
  background: white;
  align-items: center;
  border-radius: 20px;
}
main .brands .brandSwiper .brand img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

button,
input {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
.headline h3 {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 9px;
  border-bottom: 2px solid #16BCDC;
}
.headline a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
  transition: 0.5s ease;
}
.headline a i {
  font-size: 12px;
  padding-left: 9px;
}
.headline a:hover {
  color: #16BCDC;
}

.mr-15 {
  margin-right: 15px;
}

main {
  background: #F3F5F6;
}/*# sourceMappingURL=style.css.map */