@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$primaryBgColor: #263C97;
$primaryTxtColor: #16BCDC;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

button,
input {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

header {
    background: $primaryBgColor;

    .header-top {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 30px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

            .logo {
                width: 200px;

                img {
                    width: 100%;
                }
            }

            .search-bar {
                display: flex;
                align-items: center;

                input {
                    padding: 15px 20px;
                    outline: none;
                    border: none;
                    width: 400px;
                    border-radius: 3px;
                    height: 50px;
                    font-size: 14px;
                }

                .search-submit {
                    width: 44px;
                    height: 44px;
                    border-radius: 3px;
                    background: $primaryTxtColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -47px;

                    i {
                        font-size: 19px;
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .user-prop {
                display: flex;

                .box {
                    display: flex;
                    margin-right: 20px;

                    .left {
                        i {
                            font-size: 30px;
                            color: white;
                            margin-right: 10px;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;

                        .title {
                            text-decoration: none;
                            color: rgb(202, 202, 202);
                            font-size: 12px;
                        }

                        .link {
                            text-decoration: none;
                            color: white;
                            font-size: 14px;
                            transition: 0.3s ease;

                            &:hover {
                                color: $primaryTxtColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0px;

            .menu {
                .menu-link {
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    margin-right: 30px;
                    transition: 0.5s ease;

                    &:hover {
                        color: $primaryTxtColor;
                    }
                }
            }

            .add-text {
                p {
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}

main {
    .vip-products {
        padding: 30px 0px 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .vip-products-left {
            width: 58%;
            height: auto;
            display: flex;

            // margin-right: 30px;
            .vip-product-swiper {
                width: 100%;

                .swiper-wrapper {
                    .swiper-slide {
                        .slider-img {
                            img {}
                        }

                        .content {
                            h2 {
                                color: white;
                                font-size: 40px;
                                font-weight: normal;
                                display: inline-block;
                            }

                            p {
                                color: white;
                                font-size: 17px;
                                display: inline-block;
                                margin: 25px 0px 35px;
                            }

                            a {
                                display: inline-block;
                                width: 185px;
                                color: white;
                                font-size: 13px;
                                font-weight: bold;
                                padding: 15px 40px;
                                border-radius: 50px;
                                border: 2px solid white;
                            }
                        }
                    }
                }
            }

            .slider-img img {
                max-width: 100%;
                height: auto;
                border-radius: 20px;
                object-fit: cover;
            }

            .sliders {
                position: relative;

                .slider {
                    position: absolute;
                    width: 720px;

                    .content {
                        /* display: inline-block; */
                        position: absolute;
                        top: 0px;
                        display: flex;
                        flex-direction: column;
                        padding: 40px 60px;


                    }
                }

                .dots {
                    /* display: inline-block; */
                    display: flex;
                    position: absolute;
                    bottom: 25px;
                    left: 340px;

                    .dot {
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 12px;
                        width: 6px;
                        height: 6px;
                        background-color: rgba(225, 225, 225, .6);

                        &:hover {
                            background-color: rgba(225, 225, 225);

                        }
                    }

                    .dot_active {
                        border-radius: 3px !important;
                        background: white !important;
                        width: 35px !important;
                    }
                }
            }
        }

        .vip_products_right {
            width: 42%;
            height: auto;
            display: flex;

            .first {
                padding-right: 20px;
            }

            .banner {
                position: relative;
                width: 250px;

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 20px;
                }

                .content {
                    position: absolute;
                    color: white;
                    top: 0px;
                    padding: 20px 30px;

                    a {
                        color: white;
                        font-size: 23px;
                        font-weight: normal;
                        display: inline-block;
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }

}

.swiper {
    width: 400px;
    height: 300px;
}

.vip-product-swiper {
    .swiper-pagination-bullet {
        background: white;
        width: 1rem;
        height: 1rem;
        border-radius: .5rem;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: blue;
        width: 5rem;
        height: 1rem;
        border-radius: .5rem;
    }
}

.swiper-pagination-bullet-active {
    color: #000 !important;
}

.swiper-pagination-bullet {
    background-color: red;
    opacity: 0;
}